body{
    background-color: #1E1E1E;
}
.login-body{
    background-color: #1E1E1E;
    display: flex;
    height: 65vh;
    width: 50vw;
    /* background-color: green; */
    margin: 12vh 25vw;
    padding: 7vh;

    flex-direction: column;
    justify-content: space-between;
    /* height: 30vh;
    width: 50vw; */
    /* justify-content: right; */
}
