.container{
   
   
    
    
    display: flex;
    flex-direction: column;
    padding: 0%;
    text-align: left;
   
    color: #FFFFFF;
    font-family: 'DM Sans';
    margin-bottom: 3%;
    @media (max-width:700px) {
        width: 100%;

}
}
.container .top{
   
   

font-weight: 300;
font-size: 60px;
@media (max-width : 700px) {
       font-size: 20px;
       margin-bottom: 3%;
       
       
}
}


.container .bottom{
    @media (max-width : 700px) {
        font-size: 15px;
        
        
 }
}
