.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #36416A;
    height: 9vh;
    /* max-width: 90%; */
    
    /* padding: 1%; */

   
    box-sizing: border-box;
    color: #ffff;
    @media (max-width : 700px) {
       width: 100vw;
       /* min-width: 100%;
    */
       padding: 0%;
       margin: 0;
        
    }
  
}

.navbar .nav-content{
    display: flex;
    justify-content: space-between;
    /* background-color: blue; */
    /* padding: 1vh; */
}
.navbar h4{
    font-size: larger;
  margin-top: 1vh;
}
.navbar button{
    margin: 1vh;
    height: 4vh;
    /* width: 6vw; */
    font-size: 2vh;
    background: none;
    font-weight: 150;
    color: #ffff;

}
.navbar .login{
    
    border: none;

}
.navbar .sign-up{
    border:  1px solid white;

}
.NVUser{
    display: flex;
  
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
   
}
.NVUser img{
    margin: 0 1vw;
    margin-bottom: 2vh;
}
.NVUser h4{
    @media (max-width : 700px) {
        font-size: 10px;
      
        padding: 1vh ;
        
    }
   
}
